:root {
    --rojo: red;
    --blanco: white;
    --gris: grey;
    --negro: black;
    --tipo-titular:'Playfair Display', serif;
    --tipo-principal:'Inter', sans-serif;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-primario : #f0f0f0;
        --color-secundario: #181818;
    }
}
@media (prefers-color-scheme: high) {
    :root {
        --color-primario : black;
        --color-secundario: white;
    }
}
@media (prefers-reduced-motion: reduce) {
    * {
        animation: none;
        transition: none;
    }
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
img, picture, video, iframe, figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}
a {
    display: block;
    cursor: none;
}
p a {
    display: inline;
}
li {
    list-style-type: none ;
}
html {
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit; 
}
blockquote:before, blockquote:after, q:after, q:before {
    content: '';
    content: none;
} 
::selection {
    background-color: var(--color-primario);
    color: var(--color-secundario);
}
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
    appearance: none;
}
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}
svg{
    width: 100%;
    display: block;
    fill: currentColor;
}
body{
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--color-primario);
    background-color: var(--color-secundario);
    line-height: 1.4rem;
    hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: grayscale;
    cursor: none;
}




.circulos{ 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    filter: blur(70px);
}
.circulos .circulo{
    position: absolute;
    width: 50%;
    height: 50%;
    animation:circulo1 20s linear infinite both;
}
.circulos .circulo1{
    top: 0%;
    left: 0%;
}
.circulos .circulo1 .path{
    fill: rgb(0, 13, 110)
}
.circulos .circulo2{
    top: 0%;
    right: 0%;
}
.circulos .circulo2 .path{
    fill: rgb(53, 0, 100)
}
.circulos .circulo3{
    bottom: 0%;
    right: 0%;
}
.circulos .circulo3 .path{
    fill: rgb(0, 125, 171)
}
.circulos .circulo4{
    bottom: 0%;
    left: 0%;
}
.circulos .circulo4 .path{
    fill: rgb(93, 0, 127)
}
.header{
    width: 100%;
    min-height: 5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    display: none;
}
.header .h1{
}
.header .h1 .a{
}
.header .nav{
}
.header .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header .li{
    margin: 0 1em
}
.header .li .a{
} 
.main{
    margin: 2.8em 0 1em 0;   
    text-align: center;
    position: relative;
    z-index: 2;
}
.seccion{
    width: 100%;
    min-height: 80vh;
    padding: 2em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 4.5em 0;

}
.seccion .info{
 font-size: 1.2em;
 animation: aparecer1 2s ease 1 both;
}
.seccion .ul{
    margin: 4em 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.seccion .ul .li{
    margin: 1em;
}
.seccion .ul .a{
    border: 1px solid #f2f2f28b;
    border-radius: 50%;
    padding: 1em 1em 1em;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    animation: aparecer1 2s ease 1 backwards;
}
.seccion .ul>:nth-child(2) .a{
    animation-delay: .2s;
}
.seccion .ul .a:hover{
    border-color: white;
}
.seccion .h2{
    font-family: var(--tipo-titular);
    font-weight: 600;
    font-size: 5em;
    line-height: 1em;
}
.seccion .h3{
    font-family: var(--tipo-titular);
    font-size: 2.8em;
    margin: 0.5em 0;
}
.seccion .p{
}
.seccion .grid{
    width: 90%;
    max-width: 40em;
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap:1em;
}
.seccion .article{
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.seccion .a{
}
.seccion .figure{
    width: 100%;
}
.seccion .img{
    width: 100%;
}
.seccion .h4{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(1rem);
    color: var(--color-secundario);
    position: absolute;
    bottom: 0;
    left: 0; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.9em;
    opacity: 0;
    transform:translateZ(1) scale(1.2);
    transition: all .5s ease;
    text-transform: uppercase;
    font-weight: 600;
}
.seccion .article:hover .h4{
    opacity: 1;
    transform:translateZ(1) scale(1);
}
.works{
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.866);
}
.works .h2{
    margin: 0 0 2.5rem;
}
.about .h2{
    margin: 0 0 2rem;
}
.about .p{
    max-width: 40rem;
    margin: 1rem 1rem;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.1em;
}
.about .rrss{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.about .li{
    margin: 0 1em;
}
.about .a{
}
.about .svg{
    width: 3.5em;
    height: 3.5em;
    margin-top: 1rem;
}
.footer{
    padding: 0.25em 0;
    text-align: center;
    position: relative;
    z-index: 2;
}
.footer .span{
}
@keyframes circulo1{
    from{
        transform:rotate(0deg) scale(3.5);
    }
    to{
        transform:rotate(360deg) scale(3.5);
    }
}
@media (max-width: 570px) {
    .seccion .h2{
        font-size: 3em;
    }
    .seccion .h3{
        font-size: 2em;
    }
    .about .p{
        font-size: 1.2em;
    }
    .seccion .ul .a{
        font-size: 0.7em;
    }
}
@media (max-width: 475px) {
    .seccion .h2{
        font-size: 2em;
    }
    .seccion .h3{
        font-size: 1.2em;
    }
    .seccion .ul .a{
        font-size: 0.6em;
    }
}
@media (max-width: 345px) {
    .seccion .h2{
        font-size: 1.6em;
    }
    .seccion .h3{
        font-size: 1em;
    }
    .seccion .ul .a{
        font-size: 0.5em;
    }
} 
@keyframes aparecer1{
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
#cursor{
    width: 4em;
    height: 4em;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
    border-radius: 50%;
    mix-blend-mode: difference;
}
